.channelRow {
  display: flex;
  align-items: center;
  width: 95%;
}
.channelRow__logo {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}
.channelRow__text {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
}
.channelRow__text > p {
  color: #606060;
  font-size: xx-small !important;
}
.channelRow__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channleRow__subscription {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.9;
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #c50000 !important;
}

.channleRow__subscription__icon {
  color: #7d7d7d;
  margin: 10px !important;
  cursor: pointer;
}
.channelRow__text__icon{
    color: #7d7d7d;
}