.makeStyles-root-1 {
  background-color: transparent !important;
}
.MuiAppBar-colorDefault {
  background-color: transparent !important;
  box-shadow: none !important;
}
.MuiTab-textColorPrimary {
  font-weight: 600 !important;
}
.Channel__Menu_Home {
  display: flex;
  flex-wrap: wrap;
}
.MuiBox-root {
  height: 100vh !important;
  overflow: auto !important;
}
.MuiTabs-root {
  position: sticky !important;
  top: 0 !important;

  z-index: 100 !important;
}
.MuiBox-root::-webkit-scrollbar {
  display: none;
}
.playlist {
  text-align: center;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
}
.playlist > span {
    padding-top: 50px;
  position: absolute;
  background: #000000ab;
  height: 90px;
  color: white;
  width: 125px;
  line-height: normal;
  flex-direction: row;
}
.ChannelVideos{
    width: 270px;
    display:block !important;
}