.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
}
.header__menuIcon{
    margin: 0 -25px 0 0;
}
.header__logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
    width: 100px;
}

.header__left {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    flex: 0 1 728px;
    min-width: 0px;
}

.header__icons {
    display: flex;
    align-items: center;
    min-width: 225px;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

}

.header__icon {
    margin-right: 8px;
}

.header__input>input {
    flex: 1 1;
    border: none;
    display: flex;
    flex-basis: 1e-9px;
    min-width: 0;
}

.header__input-button {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    justify-content: flex-end;
}

.header__input>input:hover {

    border: none;
}