.recommendedLink__button {
    margin-left: 10px;
}

.MuiFab-extended {
    height: 30px !important;
    background-color:white !important;
}

.buttonSelected {
    background-color: rgb(122, 122, 122) !important;
    color:white !important;
}