.sidebar {
  flex: 0.2;
  border-right: 1px solid #f9f9f9;
}
.sidebar > a {
  text-decoration: none !important;
  color: black !important;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
